<footer class="footer" role="contentinfo">
      <div class="container-fluid">
      {% if page.footer %}
            {{ page.footer }}
      {% endif %}
  </div>
      {% if page.footerbottom %}
          {{ page.footerbottom }}
      {% endif %}
    </footer>

